<% provide(:search_name, '投稿検索') %>
<% if logged_in? %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= render 'share/user_info' %>
    </section>
    <section class="stats">
      <%= render 'share/user_status' %>
    </section>
    <section class="micropost_form">
      <%= render 'share/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-9">
    <h3>タイムライン</h3>
    <%= render 'share/feed' %>
  </div>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Landscape SNSへようこそ！</h1>
  <h1>こちらのSNSではみんなで背景の共有をしよう！</h1>
  <%= link_to "新規登録はこちら！", signup_path, class: "btn btn-lg btn-success" %><br>
  <p>フェイスブックアカウトをお持ちの方は</p>
  <%= link_to "Facebookアカウントでログイン！",'/auth/facebook',class: "btn btn-lg btn-primary" %>
</div>
<div class="col-md-6">
  <%= link_to image_tag('/ヴェネツィア.jpeg',width: "550px") , about_path%>
</div>
<div class="col-md-6">
  <%= link_to image_tag('/アマルフィ.jpeg',width: "550px"), help_path %>
</div>
<% end %>

<%= render 'layouts/footer' %>
