<%= link_to gravatar_for(current_user,size: 60),current_user %>
<h1><%= current_user.realname %></h1>
<span>ユーザ名：@<%= current_user.name %></span>
<span><%= link_to "プロフィール", current_user %></span>
<span>投稿数：<%= link_to current_user.microposts.count, current_user %></span>
