<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.realname %>
        <%= "<@#{@user.name}>" %><br>
      </h1>
      <% if current_user?(@user) %>
        <%= link_to "プロフィール編集", edit_user_path %>
      <% end %>
    </section>
    <section class="stats">
      <%= render 'share/user_status' %>
      <%= render 'follow_form' if logged_in? %>
      <% unless @user.web.nil? %>
        <div class="web">
        [web情報]<br><%= @user.web %><br>
        </div>
      <% else %>
        [web情報]<br>webサイトは登録されていません<br>
      <% end %>
      <% unless @user.introduction.nil? %>
        <div class="profile">
        [プロフィール]<br><%= @user.introduction %>
        </div>
      <% else %>
        [プロフィール]<br>プロフィールがまだ記載されていません
      <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <% if @user.microposts.any? %>
    <h3>Microposts(<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<%= render 'layouts/footer' %>
