<li class="col-md-4" id="micropost-<%= micropost.id %>">
  <% unless micropost.user.email.nil? %>
    <%= link_to gravatar_for(micropost.user, size: 40), micropost.user %>
  <% else %>
    <%= link_to image_tag("/default.jpg",:size => 40),micropost.user %>
  <% end %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <!-- モーダルを開くボタン・リンク -->
    <button type="button" class="btn btn-default mb-12" data-toggle="modal" data-target="#testModal-<%= micropost.id %>"style="width:215px"style="height:205px">
      <% if micropost.picture? %>
        <%=  image_tag micropost.picture.url,:size =>'190x190' %>
      <% else %>
        コメント広場を表示する
      <% end %>
    </button>
  </span>
  <span class="timestamp">
    投稿時間:<%= time_ago_in_words(micropost.created_at) %>
    <% if current_user?(micropost.user) %>
      <%= link_to "削除", micropost, method: :delete,data: { confirm: "投稿を削除しますか?" } %>
    <% end %>
    <br><%= link_to "この投稿に返信をする",micropost_path(micropost.id) %>
  </span>
  <!-- ボタン・リンククリック後に表示される画面の内容 -->
  <div class="modal" id="testModal-<%= micropost.id %>"  role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">投稿フォーム</h4>
        </div>
        <div id="micropost-<%= "#{micropost.id}" %>">
          <%= link_to gravatar_for(micropost.user, size: 70), micropost.user ,:class=>"user-name" %>
          <span class="user">投稿主：<%= link_to "#{micropost.user.realname}", micropost.user  %></span>
          <span><%= link_to "<@#{micropost.user.name}>", micropost.user  %></span><br>
          <span class="micropost_content">
            <%= micropost.content %><br>
            <%= render "likes/like",micropost: micropost %><br>
            <%= image_tag micropost.picture.url if micropost.picture? %>
          </span>
          <div class="comment_index">
            <h3>コメント広場</h3>
            <ul class="users">
              <% micropost.comments.each do |comment| %>
              <li><%= link_to gravatar_for(comment.user, size: 50), comment.user %>
                <%= link_to "#{comment.user.name}" , @user %>: <%= comment.body %><br>
                <span class= "batu"><%= link_to "コメント削除" , [micropost,comment] , method: :delete if current_user?(comment.user) %></span></li>
                <% end %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </li>
