<% provide(:title, "パスワード編集ページ") %>
<h1>パスワード編集用ページ</h1>

<div class="row">
 <div class="col-md-6 col-md-offset-3">
 <%= form_for(@user, url: password_edits_edit_path(current_user), html: {method: "patch"}) do |f| %>
   <%= render'share/error_messages',object: f.object %>

   <%= f.label :current_password,"現在のパスワード" %>
   <%= f.password_field :current_password, class: 'form-control' %>

   <%= f.label :password,"新規パスワード" %>
   <%= f.password_field :password, class: 'form-control' %>

   <%= f.label :password_confirmation, "確認の為もう一度ご入力ください" %>
   <%= f.password_field :password_confirmation, class: 'form-control' %>


   <%= f.submit "再設定", class: "btn btn-primary" %>

  <% end %>
  </div>
</div>
